
<button  type="button" (click)="goBack()">go back</button>



<ng-container *ngIf="!!post"> <h2>{{ post.title }}</h2></ng-container>

<div class="insertComment">
  <h3>Write a comment</h3>
 <!-- <label for="author">Title: </label>-->
  <input class="control" type="text" [(ngModel)]="newAuthor" placeholder="Author">

 <!-- <label for="content">Content: </label> -->
  <input class="control" name="author" type="text" [(ngModel)]="newContent" placeholder="Content">

  <button class="button" type="button" (click)="createComment()">Create Comment</button>

</div>

 <div class="main-container" *ngIf="post?.comments">
  <div class="comment-container " *ngFor="let comment of post?.comments">
          <div class="single-comment">
              <!--<app-comment [comment]="comment"></app-comment>-->
              <h3 >{{comment.content}}</h3>
              <p >{{comment.author}}</p>
          </div>

  </div>
</div>



